@{
    /**/

    ViewBag.Title = "Home Page";
}
<style>
    .fondo_pnc {
        opacity: 0.4;
    }
</style>
<div class="container" style="text-align:center;">
    <br />
    <h2 class="fondo_pnc">Equipo de Planeación Operativa</h2>
    <a>
        <img src="~/images/pnc.png" class="fondo_pnc" />
    </a>
</div>
